---
layout: default
---
<div class="row">
    {% assign illustration_order = (site.illustrations | sort: 'order') %}
    {% for illustration in illustration_order %}
    <div class="small-12 medium-4 columns thumbnail-tile">
        <a class="post-link" href="{{ illustration.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
            <img class="thumbnail-image" src="img/thumbnail/{{ illustration.thumbnail }}">
            <span class="thumbnail-text">{{ illustration.tile-name }}</span>
            {% if illustration.banner %}
            <span class="banner">{{ illustration.banner }}</span>
            {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>