<header>
  <div class="row" style="padding: 20px;">
    <div class="small-12 medium-2 columns">
        <a href="{{ site.baseurl }}/">
            <img src="{{'/img/DClogo.svg'| prepend: site.baseurl }}" style="height:80px;">
        </a>
    </div>
      <div class="small-12 medium-10 columns nav">
          <a class="nav" href="/index.html">Illustrations</a>
          <a class="nav" href="/art.html">Art</a>
          {% for my_page in site.pages %}
            {% if my_page.title %}
          <a class="nav" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
      </div>
  </div>

</header>
